/* Add this to AnimatedTeddy.css */

.interactive-teddy-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; /* Ensures it takes full width */
  height: 50%; /* Ensures it takes full height */
}


.teddy-container {
  position: relative;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.handwritten-paper {
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  width: 174%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.speech-bubble {
  font-family: 'Courier New', Courier, monospace; /* Simulate handwriting style */
  font-size: 1.2em;
  line-height: 1.6;
  color: #2f2f2f;
  overflow: hidden;
  border: 2px dashed #333;
  padding-left: 10px;
  padding-right: 5px;
  width: 94%;
}

.message-controls {
  margin-top: 10px;
  display: flex;
}

button {
  padding: 8px 16px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.yes-btn:hover, .no-btn:hover,
.prev-btn:hover, .next-btn:hover {
  opacity: 0.8;
}

.yes-btn {
  margin-right: 10px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.no-btn {
  position: relative;
  transition: transform 0.3s ease;
}

.no-btn:hover {
  animation: moveAround 1s infinite; /* Apply movement animation */
}

@keyframes moveAround {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: -50px;
    left: 50px; /* Large shift to the right and up */
  }
  50% {
    top: 70px;
    left: -70px; /* Large shift to the bottom-left */
  }
  75% {
    top: -60px;
    left: -100px; /* Large shift to the top-left */
  }
  100% {
    top: 80px;
    left: 120px; /* Large shift to the bottom-right */
  }
}

button {
  background-color: #ffe6f0;
  border-radius: 4px;
  border: 1px solid black;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}