.animated-message {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: #f7f7f7;
	opacity: 1;
	transition: opacity 1s ease-in-out;
}

.fade-in {
	opacity: 1;
}

.fade-out {
	opacity: 0;
}

.gif-container {
	margin-bottom: 20px;
	/* Space between the gif and the message */
}

.animated-message .tenor-gif-embed {
	max-height: 70%;
}

.animated-message .tenor-gif-embed #header {
	display: none;
}

button {
	background-color: #ffe6f0;
	border-radius: 4px;
	border: 1px solid black;
	box-sizing: border-box;
	color: black;
	cursor: pointer;
	display: inline-block;
	font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	margin: 0;
	max-width: none;
	min-height: 44px;
	min-width: 10px;
	outline: none;
	overflow: hidden;
	padding: 9px 20px 8px;
	position: relative;
	text-align: center;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 100%;
}

.dog-img {
	overflow: hidden;
	height: 70%;
	width: 70%;
	padding-left: 15%;
}